@import './global.css';

.quick-actions{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    column-gap: 25px;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    justify-content: space-between;
    padding: 13px 30px 13px 25px; 
    border-bottom: 1px solid var(--light-grey);
    
    
}

