@import "./global.css";
.company-logo-nav {
    padding: 15px 20px 15px 0px;
}

.company-logo-nav>img {
    height: 29px;
    max-height: 29px;
    width: 172px;
}

.lower-nav {
    display: grid;
    height: 61px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto;
    padding: 0px 28px 0px 30px;
    box-shadow: rgb(3 27 78 / 10%) 0px 2px 4px;
}

.lower-nav-link-container {
    display: grid;
    align-items: center;
    column-gap: 30px;
    grid-template-columns: auto auto auto auto auto auto;
}

.login-button-container {
    white-space: nowrap;
}

.button {
    border-radius: 100px;
    cursor: pointer;
    font-size: 14px;
    justify-content: center;
    padding: 12px 24px;
    transition: all 0.3s ease;
    line-height: 1;
    border: 1px solid var(--hover-link-blue);
    white-space: nowrap;
}

.button-primary {
    background-color: var(--hover-link-blue);
    color: var(--white);
}

.button-primary:hover {
    border: 1px solid var(--product-blue);
    background-color: var(--product-blue);
}

.button-secondary {
    background-color: var(--white);
    color: var(--product-blue);
}

.button-secondary:hover {
    color: var(--product-blue);
    border: 1px solid var(--product-blue);
    background-color: var(--off-white);
}

.button-signup {
    margin-left: 18px;
}

.lower-nav-link {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    color: var(--dark-blue);
}

.lower-nav-link:hover {
    color: var(--hover-link-blue);
}

.lower-nav-link-dropdown:after {
    content: "";
    padding: 7px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI0IiB2aWV3Qm94PSIwIDAgOCA0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMC44NTI0MTcgMEMwLjQyNjM4MiAwIDAuMjEzMzY0IDAuNTIwNzEgMC41MjEwNTYgMC44Mjg0MDJMMy41NTA2NCAzLjg1Nzk5QzMuNzM5OTkgNC4wNDczNCA0LjA0NzY4IDQuMDQ3MzQgNC4yMzcwMyAzLjg1Nzk5TDcuMjY2NjIgMC44Mjg0MDJDNy41NzQzMSAwLjUyMDcxIDcuMzYxMjkgMCA2LjkzNTI2IDBIMC44NTI0MTdaIiBmaWxsPSIjODc5NEIwIi8+Cjwvc3ZnPgo=") no-repeat center;
    fill: var(--hover-link-blue);
}

.lower-nav-link-dropdown:hover {
    color: var(--product-blue);
}