@import './global.css';

.quick-actions-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    column-gap: 25px;
}
.header {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 25px;
    justify-content: space-between;
    padding: 13px 30px 13px 25px; 
    border-bottom: 1px solid var(--light-grey);
}
.navbar-link  {
    color: var(--cadet-blue);
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}
.navbar-link:hover{
    color:var(--hover-link-blue);
}
.navbar-primary-link {
    color: var(--product-blue);
}
#navbar-pseudo-button{
    background-color: var(--light-blue);
    color: var(--dark-blue);
    cursor: default;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 8px;
    font-size: 9px;
    margin-right: 15px;
}

