@import './global.css';

.welcome-screen{
    display: grid;
    grid-template-columns: 620px auto;

}
.hero-form-column {
    margin: 60px 5% 10px;
    padding: 0 20px;
}

.hero-form-column-desc {
    font-size: 24px;
    margin: 24px 0 0;
    line-height: 38px;
    font-weight: 400;
    color: var(--off-black);
}
.hero-container{
    margin: auto;
    max-width: 430px;
}

.hero-form-thumbnail{
    height: 640px;
    border-radius: 0 0 0 240px;
    overflow: hidden;
}
.hero-form-thumbnail > img{ 
    border-bottom-left-radius: 240px;
    width: 100%;
    min-width: 975px;
}
.hero-form-thumbnail >img:hover {
    cursor: url(https://www-static.cdn.prismic.io/www-static/d08f88f9-ddfa-49ac-93dc-15da48fa0b3f_home-video-play-btn.svg) 25 25, auto;
}

.form-separator{
    display: block;
    width: 80px;
    border-top: 1px solid rgba(12, 24, 47, 0.15);
    margin: 40px 0;
}

.hero-button-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 210px auto;
}

.button-form-submit{
    font-size: 16px;
    height: 53px;
    margin-top:3px;
}

.offshore-button{
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
    padding: 16px 32px;
    transition: all 0.3s ease;
    border: none;
    font-size: 0;
    padding: 16px;
    box-shadow: 0px 8px 16px rgb(0 8 36 / 5%);
}
.offshore-button:hover{
    background-color: var(--off-white);
}   

.offshore-button:first-child{
    margin: 0 16px 0 40px;
}

.terms-container{
    margin-top: 18px;
}
.terms-container > p, a{
    display: inline-block;
    font-size: 12px;
    color: var(--terms-grey);
}
.terms-container > a {
    text-decoration: underline;
}
.terms-container > a:hover{
    color: var(--hover-link-blue);
}